{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    "text": "Back",
    "classes": "nhsuk-u-margin-bottom-0",
    href: "/"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-u-reading-width">

    <h1 class="nhsuk-heading-l">Open a URL in the NHS App frame</h1>
  
    <form action="frame" method="post">
      {{ input({
        id: "frameURL",
        name: "frameURL",
        label: {
          text: "URL",
          isPageHeading: false
        },
        hint: {
          text: 'The webpage address for example: http://localhost:3000'
        },
        classes: "nhsuk-input--width-30 nhsuk-u-margin-bottom-3"
      }) }}
      {{ button({
        text: "Open URL"
      }) }}
    </form>

  </div>


{% endblock %}

{% block footer %}
{% endblock %}