{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    "text": "Back",
    "classes": "nhsuk-u-margin-bottom-0",
    href: "/"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-u-reading-width">
  
    <form action="frame" method="post">
      {{ input({
        id: "frameURL",
        name: "frameURL",
        label: {
          text: "Enter a URL",
          isPageHeading: true,
          classes: "nhsuk-label--m"
        },
        hint: {
          text: 'Type the web address of page you wish to open in the NHS App frame, <br> for example localhost:3001 or the full address of your prototype' | safe
        },
        classes: "nhsuk-input--width-30 nhsuk-u-margin-bottom-3"
      }) }}
      {{ button({
        text: "Open URL"
      }) }}
    </form>

  </div>


{% endblock %}

{% block footer %}
{% endblock %}