{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    "text": "Back",
    "classes": "nhsuk-u-margin-bottom-0",
    href: "/"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-u-reading-width">
  
    <form action="frame" method="post">
      {{ input({
        id: "frameURL",
        name: "frameURL",
        label: {
          text: "Enter a URL",
          isPageHeading: true,
          classes: "nhsuk-label--l"
        },
        hint: {
          text: 'Type the address of page you wish to open in the NHS App frame, <br> for example localhost:3000 or the full address of your prototype' | safe
        },
        classes: "nhsuk-input--width-30 nhsuk-u-margin-bottom-2"
      }) }}
      {{ button({
        text: "Open URL"
      }) }}
    </form>

    {{ insetText({
      text: 'This feature is experimental. Some URLs will not load for secruity'
    }) }}

    <h1 class="nhsuk-heading-m">
      Some examples
    </h1>

    {{ contentsList({
      items: [
        {
          text: "NHSUK",
          href: "/frame?URL=https://www.nhs.uk"
        },
        {
          text: "111 online",
          href: "/frame?URL=https://111.nhs.uk"
        },
        {
          text: "App home screen",
          href: "/frame?URL=/pages/home-p9"
        }
      ]
    }) }}


  </div>


{% endblock %}

{% block footer %}
{% endblock %}